<%- include("header") -%>
<div class="box" id="heading">
  <h1>This is the about page of ToDo App</h1>
</div>

<div class="box">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, magnam
    suscipit molestias deleniti tenetur et quibusdam in qui exercitationem
    ratione! Praesentium consequuntur laborum assumenda incidunt dolor ad aut
    dolorum error?
  </p>
</div>

<%- include("footer") -%>
